<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sherpalink">
    <!-- Location Permissions -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sherpalink">
        <activity
            android:name=".WeatherApiService"
            android:exported="false"
            android:label="@string/title_activity_weather_api_service"
            android:theme="@style/Theme.Sherpalink" />
        <activity
            android:name=".WeatherApiService.kt"
            android:exported="false"
            android:label="@string/title_activity_weather_api_service.kt"
            android:theme="@style/Theme.Sherpalink" />
        <activity
            android:name=".RetrofitClient"
            android:exported="false"
            android:label="@string/title_activity_retrofit_client"
            android:theme="@style/Theme.Sherpalink" />
        <activity
            android:name=".WeatherViewModel"
            android:exported="false"
            android:label="@string/title_activity_weather_view_model"
            android:theme="@style/Theme.Sherpalink" /> <!-- GOOGLE MAPS API KEY -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyDb0Z8lGtIrp4pPGTPH1-iPF--6ss2-Ej0" /> <!-- ONLY LAUNCHER ACTIVITY -->
        <activity
            android:name=".auth.AuthCheckActivity"
            android:exported="true"
            android:theme="@style/Theme.Sherpalink">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity> <!-- AUTH SCREENS -->
        <activity
            android:name=".auth.SignUpActivity"
            android:exported="true" />
        <activity
            android:name=".auth.SignInActivity"
            android:exported="true" /> <!-- MAIN APP -->
        <activity
            android:name=".DashboardActivity"
            android:exported="false" />
    </application>

</manifest>