<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sherpalink">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Sherpalink">

        <!-- SplashActivity is launcher -->
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.Sherpalink.Splash">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MainActivity -->
        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:theme="@style/Theme.Sherpalink" />

        <!-- SignUpActivity -->
        <activity
            android:name=".SignUpActivity"
            android:exported="true"
            android:theme="@style/Theme.Sherpalink" />

        <!-- Add other activities here -->
        <activity
            android:name=".SignInActivity"
            android:exported="true"
            android:theme="@style/Theme.Sherpalink" />

        <activity
            android:name=".DashboardActivity"
            android:exported="true"
            android:theme="@style/Theme.Sherpalink" />
    </application>


</manifest>